*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors";
@import "partials/responsive";
@import "partials/typography";
@import "partials/spacing";
@import "partials/buttons";
@import "partials/layout";
@import "partials/swiper";



html {
  // Scrool mais suave de transição
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  position: relative;

  scroll-behavior: smooth;

  background-color: $black-2;
}

// Para deixar imagens e SVGs fluidos
svg {
  width: 100%;
}

img {
  width: 100%;
}
ul{
  list-style: none;
}

.border {
  border: 1px solid red;
}

@import "partials/menu";
@import "partials/icons";
@import "partials/footer";
@import "partials/animations";
