@keyframes opacity {

    0%{
        opacity: 0%;
    }
    100%{
        opacity: 80%;
    }
}

.photos-container{
    animation: photos-instructor 20s ease-in-out infinite alternate both;
}

@keyframes photos-instructor {
    0%{
        transform: translate3d(0,-80px,0);
    }
    100%{
        transform: translate3d(0,130px,0);
    }
}