@keyframes opacity {

    0%{
        opacity: 0%;
    }
    100%{
        opacity: 80%;
    }
}

.photos-container{
    animation: photos-instructor 20s ease-in-out infinite alternate both;
}

// @keyframes photos-instructor {
//     0%{
//         transform: translate3d(0,-90px,0);
//     }
//     100%{
//         transform: translate3d(0,135px,0);
//     }
// }

@keyframes photo-gray1 {
    0%,27%{
        filter: grayscale(0%); 
        transform: scale(1.02) translate3d(0,-3px,0);
    }
    37%,62%{
        filter: grayscale(100%);
        transform: scale(1)  translate3d(0,0,0); 
    }
    73%,100%{
        filter: grayscale(100%);
        transform: scale(1) translate3d(0,0,0);   }
}

@keyframes photo-gray2 {
    0%,27%{
        filter: grayscale(100%);
        transform: scale(1)  translate3d(0,0,0);  
    }
    37%,62%{
        filter: grayscale(0%);
        transform: scale(1.02) translate3d(0,-3px,0);
    }
    73%,100%{
        filter: grayscale(100%);
        transform: scale(1)  translate3d(0,0,0);   }
}

@keyframes photo-gray3 {
    0%,27%{
        filter: grayscale(100%);
        transform: scale(1) translate3d(0,0,0); 
    }
    37%,62%{
        filter: grayscale(100%);
        transform: scale(1) translate3d(0,0,0); 
    }
    73%,100%{
        filter: grayscale(0%);
        transform: scale(1.02) translate3d(0,-3px,0);
    }
}

//Mobile
@keyframes photo-opacity1{
    0%,27%{
        opacity: 100; 
    }
    37%,62%{
        opacity: 0; 
    }
    73%,100%{
        opacity: 0; 
    }
}
@keyframes photo-opacity2{
    0%,27%{
        opacity: 0; 
    }
    37%,62%{
        opacity: 100;
    }
    73%,100%{
        opacity: 0; 
    }
}
@keyframes photo-opacity3{
    0%,27%{
        opacity: 0; 
    }
    37%,62%{
        opacity: 0; 
    }
    73%,100%{
        opacity: 100;
    }
}

//////


@keyframes description-opacity1 {
    0%,27%{
        opacity: 100; 
    }
    37%,62%{
        opacity: 0; 
    }
    73%,100%{
        opacity: 0;   }
}
@keyframes description-opacity2 {
    0%,27%{
        opacity: 0; 
    }
    37%,62%{
        opacity: 100; 
    }
    73%,100%{
        opacity: 0;   }
}
@keyframes description-opacity3 {
    0%,27%{
        opacity: 0; 
    }
    37%,62%{
        opacity: 0; 
    }
    73%,100%{
        opacity: 100;   }
}

//skills
.skillOne{
    animation: skillOne-opacity 30s ease infinite alternate-reverse;
  }
  .skillTwo{
    animation: skillTwo-opacity 30s ease infinite alternate-reverse;
  }
  .skillThree{
    animation: skillThree-opacity 30s ease infinite alternate-reverse;
  }
  .skillFour{
    animation: skillFour-opacity 30s ease infinite alternate-reverse;
  }


@keyframes skillOne-opacity {
    0%,20%{
        opacity: 100;
    }
    25%,45%{
        opacity: 0;
    }
    50%,70%{
        opacity: 0;    
    }
    75%,100%{
        opacity: 0;
    }
}
@keyframes skillTwo-opacity {
    0%,20%{
        opacity: 0;
    }
    25%,45%{
        opacity: 100;
    }
    50%,70%{
        opacity: 0;    
    }
    75%,100%{
        opacity: 0;
    }
}
@keyframes skillThree-opacity {
    0%,20%{
        opacity: 0;
    }
    25%,45%{
        opacity: 0;
    }
    50%,70%{
        opacity: 100;   
    }
    75%,100%{
        opacity: 0;
    }
}
@keyframes skillFour-opacity {
    0%,20%{
        opacity: 0;
    }
    25%,45%{
        opacity: 0;
    }
    50%,70%{
        opacity: 0;    
    }
    75%,100%{
        opacity: 100;
    }
}

.circle1{
    top: 250px;
    left: 30%;
    animation-fill-mode: both;
    animation: cicleBlur 24s ease infinite alternate-reverse ;
  }
  
  .circle2{
    top: 520px;
    left: 50%;
    animation-fill-mode: both;
    animation: cicleBlur2 24s ease infinite alternate-reverse ;
  }
  
  .circle3{
    top: 790px;
    left: 35%;
    animation-fill-mode: both;
    animation: cicleBlur 24s ease 1s infinite alternate-reverse ;
  }
  
  .circle4{
    top: 1100px;
    left: 55%;
    animation-fill-mode: both;
    animation: cicleBlur2 24s ease 2s infinite alternate-reverse ;
  }
  
  .circle5{
    top: 1400px;
    left: 37%;

    animation: cicleBlur 24s ease 3s infinite alternate-reverse ;
    animation-fill-mode: both;
  }

@keyframes cicleBlur{
    0%{
        opacity: 1;
    }
    20%,30%{
        opacity: 1;
        transform: translate3d(-90px,20px,0);
    }
    60%,70%{
        opacity: 0;
        transform: translate3d(200px,80px,0);

    }
    90%,100%{
        opacity: 1;
        transform: translate3d(-250px,80px,0);

    }
}

@keyframes cicleBlur2{
    0%{
        opacity: 1;
    }
    20%,30%{
        opacity: 1;
        transform: translate3d(90px,20px,0);
    }
    60%,70%{
        opacity: 0;
        transform: translate3d(200px,120px,0);

    }
    90%,100%{
        opacity: 1;
        transform: translate3d(250px,-50px,0);

    }
}

//Compass
.compassMov{
    transform-origin: center center;
    transform-box: fill-box;
    
    animation: compassMov 6s ease
}
@keyframes compassMov {
    0%{
        transform: translate3d(0,0,0) scale(1);
    }
    15%,85%{
        transform: translate3d(0,-5px,0) scale(1.03);
        // filter: drop-shadow(0px 9px 17px rgba(219, 152, 101, 0.14)) drop-shadow(0px 3.28515px 6.20528px rgba(219, 152, 101, 0.0965974)) drop-shadow(0px 1.59488px 3.01255px rgba(219, 152, 101, 0.0778807)) drop-shadow(0px 0.781839px 1.47681px rgba(219, 152, 101, 0.0621193)) drop-shadow(0px 0.30914px 0.583932px rgba(219, 152, 101, 0.0434026));
    }
        
    100%{
        transform: translate3d(0,0,0) scale(1);
        filter:none;
    }
    
}

.bsCompass{

    transform-origin: center center;
    transform-box: fill-box;

    animation : compass 5s ease .5s both ;
}

@keyframes compass {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(180deg);
    }
    
}

.bsArrow{

    transform-origin: center center;
    transform-box: fill-box;

    animation : arrow 5s ease 1s both;
}

@keyframes arrow {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(120deg);
    }
}