.icon-VNB{
  @include responsive(xs){
    max-width: 40px;
    text-align: center;
    margin: 0 auto;
  }
}
.logoGA {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 32px 0 16px 0;

  @include responsive(s){
    width: 70%;
    padding: 24px 0 24px 0;
  }

  @include responsive(xs){
    width: 90%;
    padding: 24px 0 24px 0;
  }
}
.logoGA-sales{
  width: 65%;
  display: block;
  margin: 0 auto;
  padding: 32px 0 16px 0;

  @include responsive(xs){
    width: 90%;
  }
}

.list-icon{
  position: absolute;
  left: 28%;
  @include responsive(xs){
    position: relative;
    left: 0;
    margin-top: 0px;
    margin-bottom: 1rem;
  }
}
.icon-network{
  max-width: 40px;
  min-width: 36px;
  padding: .5rem;
  margin-right: 0.5rem;
  fill: $primary-3;
  fill-opacity: 0;
  @include responsive(xs){
    max-width: 40px;
    min-width: 36px;
    padding: .625rem;
    margin-right: 0.25rem;
    // margin: 1rem .25rem;
  }
  cursor: pointer;

  transition: 1s ease;
  &:hover{
    transform: scale(1.02) translate3d(0,-2px,0);
    filter: drop-shadow(0px 2px 4px rgba(247, 244, 242, 0.32)) ;
    fill-opacity: 100;
} 
}

.icon-youtube{
  max-width: 44px;
  @include responsive(xs){
    max-width: 44px;
  }
}

.icon-facebook{
  max-height: 44px;
  @include responsive(xs){
    max-width: 44px;
  }
}

.title-card{
  position: relative;
  &::after{
    content: '';
    display: block;

    width: 50%;
    height: 2px;

    position: absolute;
    left: 25%;
    top: 110%;

    background: linear-gradient(90deg, #DB9865 0%, rgba(168, 98, 44, 0.48) 100.67%);
  }
}

.icon-content-card{
  max-width: 224px;

  @include responsive(xs){
    max-width: 136px;
  }
}

.bg-check{
  position: relative;
  &::before{
    content:'';
    display: inline-block;

    width: 12px;
    height: 9.74px;

    margin-right: .5rem;

    background : url("../../svg/icon-check.svg") center center;
    background-repeat: no-repeat;
  }
}

.bg-star{
  position: relative;
  &::before{
    content:'';
    display: inline-block;

    width: 12px;
    height: 9.74px;

    margin-right: .5rem;

    background : url("../../svg/icon-star.svg") center center;
    background-repeat: no-repeat;
  }
}

//Path 
.path-video{
  width: 712px ;
  height: 400px;
  @include responsive(xs){
    width: 95% ;
    height: 240px;
  }

  border: 1px solid rgba(194, 124, 70, 0.64);
  border-radius: 24px;
  background: linear-gradient(90deg, #DB9865 0%, rgba(168, 98, 44, 0.48) 100.67%);

  // box-shadow: 0px 51px 126px rgba(139, 9, 48, 0.1),
  //  0px 18.6158px 45.9921px rgba(139, 9, 48, 0.0689982),
  //   0px 9.03764px 22.3283px rgba(139, 9, 48, 0.0556291),
  //    0px 4.43042px 10.9457px rgba(139, 9, 48, 0.0443709),
  //     0px 1.7518px 4.32796px rgba(139, 9, 48, 0.0310018);

  position: relative;
  // &::after{
  //   content: '';
  //   position: absolute;
  //   top: 20%;
  //   left: 30%;

  //   width: 240px;
  //   height: 240px;

  //   @include responsive(xs){
  //     width: 50% ;
  //     height: 130px;
  //   }
 
  // }
}
//Content grid

.icon-circleBlur{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(90.21deg, #DB9865 0.18%, rgba(168, 98, 44, 0.48) 146.52%);
  opacity: 0.8;
  filter: blur(60px);

  @include responsive(xs){
    width: 32%;
  }
}


//skills
.icon-skill {
  width: 64px;
  height: 64px;
  @include responsive(xs){
    width: 54px;
  }
 
}

.skillOne{
  top: 0;
  left: 0;
  animation: skillOne-opacity 30s ease   infinite both alternate-reverse;
}
.skillTwo{
  top: 0;
  left: 0;
  animation: skillTwo-opacity 30s ease   infinite both alternate-reverse;
}
.skillThree{
  top: 0;
  left: 0;
  animation: skillThree-opacity 30s ease   infinite both alternate-reverse;
  @include responsive(xs){
    transform: translateY(-7px);
  }
}
.skillFour{
  top: 0;
  left: 0;
  animation: skillFour-opacity 30s ease   infinite both alternate-reverse;
  @include responsive(xs){
    transform: translateY(-3px);
  }
}
.descriptionOne{
  top: 0;
  left: 0;
  animation: descriptionOne-opacity 30s ease   infinite both alternate-reverse;
}
.descriptionTwo{
  top: 0;
  left: 0;
  animation: descriptionTwo-opacity 30s ease  infinite both alternate-reverse;
}
.descriptionThree{
  top: 0;
  left: 0;
  animation: descriptionThree-opacity 30s ease  infinite both alternate-reverse;
  @include responsive(xs){
    transform: translateY(-7px);
  }
}
.descriptionFour{
  top: 0;
  left: 0;
  animation: descriptionFour-opacity 30s ease  infinite both alternate-reverse;
  @include responsive(xs){
    transform: translateY(-3px);
  }
}


.skill-active{
  box-shadow: 0px -12px 51px rgba(219, 152, 101, 0.19),
   0px -4.3802px 18.6158px rgba(219, 152, 101, 0.131096),
    0px -2.1265px 9.03764px rgba(219, 152, 101, 0.105695),
     0px -1.04245px 4.43042px rgba(219, 152, 101, 0.0843048),
      0px -0.412187px 1.7518px rgba(219, 152, 101, 0.0589035);
  background: linear-gradient(90deg, #DB9865 0%, rgba(168, 98, 44, 0.48) 100.67%);
}

//incons bonus section

.icon-bonus{
  max-width: 48px ;
  @include responsive(xs){
    max-width: 32px;
  }
}

//Peaple

.icon-hotmart{
  max-width: 128px;
}

.icon-stars{
  width: 112px;
}
.icon-person{
  max-width: 64px;
}
.icon-person1{
  left : 5%;
  top : 35%;
}
.icon-person2{
  left : 70%;
  top : 10%;
  @include responsive(xs){
    top : 20%;
  }
}
.icon-person3{
  left :10%;
  top : 15%;
}
.icon-person4{
  top : 60%;
  left :65%;
  @include responsive(xs){ 
    top : 60%;
  }
}
.icon-person5{
  top : 18%;
  left: 40%;
}
.icon-person6{
  top: 55%;
  left: 20%;
  @include responsive(xs){
    left: 15%
  }
}
.icon-person7{
  right : 5%;
}
.icon-person8{
  right : 10%;
  top : 10%;
}
.icon-person9{
  right :8%;
  top : 27%;
}
.icon-person10{
  left :40%;
  top: 70%;
}
.icon-person11{
  top : 22%;
  left: 60%;
}
.icon-person12{
  top : 36%;
  right: 68%;
}


//Instructor
.icon-imgCourse{
  width: 166px;
  height: 166px;;
}



































.bg-icon-check {
  &::after {
    background-image: url("../svg/icon-check.svg");
    background-size: cover;
    transition: 0.5s ease;
    cursor: pointer;
    filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
    width: 40px;
    height: 40px;

    top: 16px;
    left: 8px;
  }
  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

//Compass
.compass{
  // width: 320px;
  @include responsive(xs){
    width: 320px;
  }
}
