// Layout of project

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.br{
  max-width: 40px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.flex-between{
  justify-content: space-between;
}


.relative {
  position: relative;
}
.absolute{
  position:absolute;
}
.topzero{
  top: 0;
}
.leftzero{
  left: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-12 {
  flex: 12 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

.block { 
  display: block;
}

.inline-block { 
  display: inline-block;
}

//Layout item 

.align-self-end{
  align-self: flex-end;
}
.align-self-start{
  align-self: flex-start  
}
.aling-self-center{
  align-self: center;
}

// Width's
.width-auto {
  width: auto;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

//Text

.text-center{
  text-align: center;
}

.caption{
  margin-bottom: .5rem;

  text-transform: uppercase; 
  background: linear-gradient(90.03deg, #DB9865 0.02%, #5C3618 58.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
  text-shadow: 0px 2px 4px rgba(219, 152, 101, 0.16);

}

.title{
  color:$white-3;
}

.text-color{
  color: $primary-1;
}
//Shadow
.text-shadow-S1{
  text-shadow: 0px 4px 12px rgba(219, 152, 101, 0.64);
}

// BACKGROUNDS SVGS AND IMG
//Sections

//HERO

.esdras-hero{
  max-width: 400px;
  @include responsive(xs){
    max-width: 300px;
    margin-top: 2rem;
    // padding: 2rem;
  }
}

// .bg-hero{
//   width: 100%;
//   @include responsive(s){
//     width: 150%;
//     top: 0px;
//     left: -50%;

//   }
//   @include responsive(xs){
//     width: 250%;
//     top: 0px;
//     left: -100%;
//   }
  
//   position: absolute;
//   top: 0px;
//   left: 0px;

//   overflow: hidden;

//   z-index:-1;
// }

.bg-hero{
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;

  z-index: -1;
  
}

.svg-bg-hero{
  width: 100%;
  @include responsive(s){
    width: 150%;
    transform: translateX(-40%);
  }
  @include responsive(xs){
    width: 250%;
    transform: translateX(-45%);
  }
}

.hero{
  width: 100%;
  height : 100vh;
  @include responsive(xs){
    height: 100%;
  }
}
.hero-container{
  width: 100%;
  height : 60vh;

  @include responsive(xs){
    height: 80vh;
    padding: 0px 16px;
    flex-direction: column;
  }
  .btn-2{
    @include responsive(s){
      display: none;
  }
  }
  &>div{
    @include responsive(xs){
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  p,h1{
    @include responsive(xs){
      text-align: center;
    }
  }
  .hero-text{
    max-width: 45%;
    @include responsive(xs){
      max-width: 100%;
    }
  }
}

//PATH

.path{
  @include responsive (xs){
    height: 100vh;
  }
  h3{
    text-align: center;
  }
  // @include responsive(xs){
  //   margin
  // }
}

.bg-path{
  position: absolute;
  top:0;
}


.path-card{
  width: 400px ;
  height: 96px;

  border-radius: 56px;
  border: 2px solid rgba(219, 152, 101, 0.24);

  background-color: $black-1 ;

  box-shadow: 0px 27px 68px rgba(219, 152, 101, 0.06), 0px 9.85544px 24.8211px rgba(219, 152, 101, 0.0413989), 0px 4.78464px 12.0502px rgba(219, 152, 101, 0.0333774), 0px 2.34552px 5.90723px rgba(219, 152, 101, 0.0266226), 0px 0.927421px 2.33573px rgba(219, 152, 101, 0.0186011);
      
    @include responsive(xs){
      width: 184px ;
      height: 40px;

      border:none;
    
      background-color: transparent;
    
      box-shadow: none
    }
}


//content grid

.contentGrid{
  .description-card{
    @include responsive(xs){
      text-align: center;
    }
  }
}


//Bonus section 
.bonus{
  .bonus-list{
    &>li{
      box-shadow: 0px 9px 29px rgba(219, 152, 101, 0.05),
       0px 3.28515px 10.5855px rgba(219, 152, 101, 0.0344991),
        0px 1.59488px 5.13905px rgba(219, 152, 101, 0.0278145),
         0px 0.781839px 2.51926px rgba(219, 152, 101, 0.0221855),
          0px 0.30914px 0.996119px rgba(219, 152, 101, 0.0155009);
      border-radius: 20px;
      border: 2px solid rgba(219, 152, 101, 0.24);
    }
  }
  .bonus-list-item {
    width: 320px;
    height: 360px;

    @include responsive(xs){
      width: 280px;
      height: 320px;
    }
  }
  .box-text{
    max-width: 288px;
  }
}


//Skills
.skills{
  height: 90vh;
  @include responsive(xs){
    height: 50vh;
  }
  .skills-container{
    @include responsive(xs){
      margin-top: 2rem;
    }
    
    .text-container{
      max-width: 320px;
      text-align: center;
      @include responsive(xs){
        margin-top: 1rem;
      }
    }

  }
}
//people
.people{
  width: 75%;
  height: 80vh;
  // @include responsive(xs){
  //   height: 90%;
  // }
}
//Deposition

.depositions-card{
  width: 376px;
  height: 216px;
  
  box-shadow: 0px 9px 29px rgba(219, 152, 101, 0.05),
   0px 3.28515px 10.5855px rgba(219, 152, 101, 0.0344991),
    0px 1.59488px 5.13905px rgba(219, 152, 101, 0.0278145),
     0px 0.781839px 2.51926px rgba(219, 152, 101, 0.0221855),
      0px 0.30914px 0.996119px rgba(219, 152, 101, 0.0155009);
  border-radius: 24px;
  border: 2px solid rgba(219, 152, 101, 0.24);
  @include responsive (xs){
    width: 320px;
     height: 280px;
  }
}


//Instructor
#instructor{
  p{
    @include responsive (xs){
      max-width: 280px;
    }
  }
}

//Photos

.photos-container{
  margin: 0 2rem;
  @include responsive (xs){
    width: 90%;
    height: 20vh;
    margin: 2rem 0;
  }
}



.item1 {
   width: 180px ;
   height: 220px;

  background: url(../img/instructor7.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  animation : photo-gray1 60s ease infinite alternate-reverse;

  @include responsive (xs){
    animation : photo-opacity1 60s ease infinite alternate-reverse;
  }
}

.item2 {
  width: 200px ;
  height: 200px;

  background: url(../img/instructor9.png) center center;
  background-repeat: no-repeat;
  background-size: cover;

  animation : photo-gray2 60s ease infinite alternate-reverse;

  @include responsive (xs){
    animation : photo-opacity2 60s ease infinite alternate-reverse;
  }
}

.item3 {
  width: 180px ;
  height: 180px;

  background: url(../img/instructor4.png) center center;
  background-repeat: no-repeat;
  background-size: cover;

  animation : photo-gray3 60s ease infinite alternate-reverse;

  @include responsive (xs){
    animation : photo-opacity3 60s ease infinite alternate-reverse;
  }
}

.border-photo{
  border-radius: 1rem;
}

.luminosity{
  mix-blend-mode: luminosity;
}

// .blur-photo1{
//     position: absolute;
//     bottom: -80px;
//     left: 0;
//     width: 100%;
//     height: 300px;
//     z-index: 200;
//     background: linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%), linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%), linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%), linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%);    transform: rotate(180deg);
//     // background-color: white;
//   }

//   .blur-photo2{
//     position: absolute;
//     top: -100px;
//     left: 0;
//     width: 100%;
//     height: 250px;
//     z-index: 200;
//     background: linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%), linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%), linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%), linear-gradient(180deg, #180F09 0%, rgba(24, 15, 9, 0) 100%);
//     // background-color: white;
//   }

//Descritions Cards
.description-card1{
  animation: description-opacity1 60s ease infinite alternate-reverse;
}
.description-card2{
  top:0;
  left:0;

  animation: description-opacity2 60s ease infinite alternate-reverse;
}

.description-card3{
  top:0;
  left:0;

  animation: description-opacity3 60s ease infinite alternate-reverse;
}




//sale section

.sale-section{
  width: 100%;
  height: 90vh;

  .btn-1,.btn-2{
    margin : 1rem;
  }
}
// .bg-sale{
//   width: 100%;

//   position: absolute;
//   top: 0px;
//   left: 0px;

//   @include responsive(xs){
//     width: 350%;
//     top: 7%;
//     left: 0px;
//   }
//   overflow: hidden;

//   z-index:-1;
// }
.bg-sale{
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;

  z-index: -1;
}
.svg-bg-sale{
  width: 100%;

  @include responsive(xs) {
    width: 350%;
    transform: translate3d(-5% , 3% , 0);
  }
}























  

// .photos-container{
//   width: 500px;
//   height: 80vh;

//   display: grid;
//   row-gap: 1rem;
//   column-gap: 1rem;
//   grid-template-columns: auto auto auto auto;
//   grid-template-rows: auto auto auto auto auto;
  
// }

// .item1 {
//   grid-column: 1 / 3;
//   grid-row: 1 / 3;

//   background: url(/img/instructor1.png) center center;
//   background-repeat: no-repeat;
//   background-size: cover;

// }

// .item2 {
//   grid-column: 3 / 6;
//   grid-row: 1 / 2;

//   background: url(/img/instructor2.png) center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .item3 {
//   grid-column: 4 / 6;
//   grid-row: 2 / 3;
//   margin-right: 3rem;

//   background: url(/img/instructor3.png) center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .item4 {
//   grid-column: 3 / 6;
//   grid-row: 3;

//   background: url(/img/instructor5.png) center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .item5 {
//   grid-column: 1 / 3;
//   grid-row: 3;

//   background: url(/img/instructor4.png) center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .item6 {
//   grid-column: 4 / 6;
//   grid-row: 4 / 6;

//   background: url(/img/instructor6.png) center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .item7 {
//   grid-column: 1 / 4;
//   grid-row: 4 / 6;

//   background: url(/img/instructor7.png) center center;
//   background-repeat: no-repeat;
//   background-size: cover;
  
// }


















// .photo1{
//   width: 50%;
// }
// .photo2{
//   width: 30%;
// }
// .photo-type1{
//   margin: 1rem 0 1rem 5rem;
// }
// .photo-type2{
//   margin: 1rem 0 1rem 7rem; 
// }
// .photo-type3{
//   margin: 1rem 0 1rem 3rem;
// }
// .photo-type4{
//   margin: 1rem 0 1rem 43%;
// }



















// .bg-home {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;

//   position: absolute;

//   z-index: -1;
// }

// .svg-bg-home {
//   width: 150%;

//   @include responsive(xl) {
//     width: 100%;
//   }
//   @include responsive(s) {
//     width: 150%;
//   }
// }

// .hero {
//   height: 90vh;

//   @include responsive(s) {
//     height: auto;
//   }
// }

