// Container-devices
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container { 
  max-width: $container-l;
  margin: 0 auto;

  padding: 72px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive (s) {
    padding: 32px 18px;

    flex-direction: column;
  }
}

.container-instructor { 
  max-width: $container-l;
  margin: 0 auto;

  padding: 32px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive (s) {
    padding: 8px 18px;

    flex-direction: column;
  }
}















