// Typography of project

@mixin typeface-1($size, $device: desktop) {
  font-family: "Readex Pro", sans-serif;

  @if $size == h1 and $device == desktop {
    font-size: 36px;
    line-height: 100%;
    font-weight: 500;
  } @else if $size == h1 and $device == mobile {
    font-size: 36px;
    line-height: 100%;
    font-weight: 500;
  } @else if $size == h2 and $device == desktop {
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
  } @else if $size == h2 and $device == mobile {
    font-size: 36px;
    line-height: 100%;
    font-weight: 400;
  } @else if $size == h3 and $device == desktop {
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
  } @else if $size == h3 and $device == mobile {
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
  } @else if $size == h4 and $device == desktop {
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
  } @else if $size == h4 and $device == mobile {
    font-size: 18px;
    line-height: 130%;
  } @else if $size == h5 and $device == desktop {
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
  } @else if $size == h5 and $device == mobile {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }
}

@mixin typeface-2($size: p2, $device: desktop) {
  font-family: "Readex Pro", sans-serif;

  @if $size == p1 and $device == desktop {
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
  } @else if $size == p1 and $device == mobile {
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
  } @else if $size == p2 and $device == desktop {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  } @else if $size == p2 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  } @else if $size == p3 and $device == desktop {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  } @else if $size == p3 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  }
}

h1 {
  color: $white-1;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

h3 {
  @include typeface-1(h3, desktop);
  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

h4 {
  color: $white-3;
  @include typeface-1(h4, desktop);
  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
}

h5 {
  text-transform: uppercase;
  @include typeface-1(h5, desktop);
  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

p {
  color: $gray-2;
}

.p1{
  @include typeface-2(p1,desktop);
  @include responsive(s) {
    @include typeface-2(p1,mobile);
  }
}
.p2{
  @include typeface-2(p2,desktop);
  @include responsive (s) { 
    @include typeface-2(p2,mobile);
  }
}
.p3{
  @include typeface-2(p3,desktop);
  @include responsive(s){
    @include typeface-2(p3,mobile);
  }

}

.bold {
  font-weight: bold;
}

// strong {
//   color: $black-normal;
//   @include typeface-2(p2, desktop);
//   @include responsive(s) {
//     @include typeface-2(p2, mobile);
//   }
// }

.text-center {
  text-align: center;
}
